<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">
<uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/><!--通知权限-->
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/><!--闹钟权限-->
    <uses-permission android:name="android.permission.USE_EXACT_ALARM"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/icon"
        android:label="待办事项"
        android:roundIcon="@mipmap/icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">


        <receiver
            android:name=".TodoReminderReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.example.myapplication.TODO_REMINDER"/>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.QUICKBOOT_POWERON"/>
            </intent-filter>
        </receiver>

        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".RegisterActivity"
            android:exported="true">
        </activity>

        <activity
            android:name=".MainActivity"
            android:exported="true">
        </activity>

        <activity
            android:name=".TomatoClock"
            android:exported="true" />

        <activity
            android:name=".NoteActivity"
            android:exported="true" />

        <activity
            android:name=".TodoMain"
            android:exported="true" />

        <activity
            android:name=".AddNoteActivity"
            android:exported="true" />

        <activity
            android:name=".DoneListActivity"
            android:exported="true" />
        <activity
            android:name=".EditTodoActivity"
            android:exported="true" />

    </application>

</manifest>